
table {
    border: 2px solid;
    background-color: Moccasin;
    padding: 7px;
}

button {
    background-color: gold;
}

.contactustitle {
    color: white;
    background-color: indianred;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.userinput {
    width: 100%;
    border: none;
    padding: 10px;
}

td {
    padding-top: 10px;
    padding-right: 24px;
}

button {
    margin-top: 10px;
    width: 100%;
}